MideFrameWork.UI.WebSite/Service References/HuaXiaSms/sdkwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sdk.worldsms.cn/webservice/common/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sdk.worldsms.cn/webservice/common/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://sdk.worldsms.cn/webservice/common/service">
      <s:import schemaLocation="http://3g.worldsms.cn/sdkwebservice/sdkwebservice.asmx?schema=schema1" namespace="http://sdk.worldsms.cn/webservice/common/types" />
      <s:import schemaLocation="http://3g.worldsms.cn/sdkwebservice/sdkwebservice.asmx?schema=schema2" namespace="http://sdk.worldsms.cn/webservice/mm/types" />
      <s:import schemaLocation="http://3g.worldsms.cn/sdkwebservice/sdkwebservice.asmx?schema=schema3" namespace="http://sdk.worldsms.cn/webservice/sm/types" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part xmlns:q1="http://sdk.worldsms.cn/webservice/common/types" name="parameters" element="q1:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part xmlns:q2="http://sdk.worldsms.cn/webservice/common/types" name="parameters" element="q2:GetUserInfo_Response" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoRequestSoapHeader">
    <wsdl:part xmlns:q3="http://sdk.worldsms.cn/webservice/common/types" name="RequestSoapHeader" element="q3:RequestSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoResponseSoapHeader">
    <wsdl:part xmlns:q4="http://sdk.worldsms.cn/webservice/common/types" name="ResponseSoapHeader" element="q4:ResponseSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByChannelSoapIn">
    <wsdl:part xmlns:q5="http://sdk.worldsms.cn/webservice/common/types" name="parameters" element="q5:GetUserInfoByChannel" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByChannelSoapOut">
    <wsdl:part xmlns:q6="http://sdk.worldsms.cn/webservice/common/types" name="parameters" element="q6:GetUserInfoByChannel_Response" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByChannelRequestSoapHeader">
    <wsdl:part xmlns:q7="http://sdk.worldsms.cn/webservice/common/types" name="RequestSoapHeader" element="q7:RequestSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByChannelResponseSoapHeader">
    <wsdl:part xmlns:q8="http://sdk.worldsms.cn/webservice/common/types" name="ResponseSoapHeader" element="q8:ResponseSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ModifyPasswordSoapIn">
    <wsdl:part xmlns:q9="http://sdk.worldsms.cn/webservice/common/types" name="parameters" element="q9:ModifyPassword" />
  </wsdl:message>
  <wsdl:message name="ModifyPasswordSoapOut">
    <wsdl:part xmlns:q10="http://sdk.worldsms.cn/webservice/common/types" name="parameters" element="q10:ModifyPassword_Response" />
  </wsdl:message>
  <wsdl:message name="ModifyPasswordRequestSoapHeader">
    <wsdl:part xmlns:q11="http://sdk.worldsms.cn/webservice/common/types" name="RequestSoapHeader" element="q11:RequestSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ModifyPasswordResponseSoapHeader">
    <wsdl:part xmlns:q12="http://sdk.worldsms.cn/webservice/common/types" name="ResponseSoapHeader" element="q12:ResponseSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="commonService">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByChannel">
      <wsdl:input message="tns:GetUserInfoByChannelSoapIn" />
      <wsdl:output message="tns:GetUserInfoByChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <wsdl:input message="tns:ModifyPasswordSoapIn" />
      <wsdl:output message="tns:ModifyPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="commonService" type="tns:commonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserInfoRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserInfoResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByChannel">
      <soap:operation soapAction="GetUserInfoByChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserInfoByChannelRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserInfoByChannelResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <soap:operation soapAction="ModifyPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyPasswordRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ModifyPasswordResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="commonService1" type="tns:commonService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserInfoRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserInfoResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByChannel">
      <soap12:operation soapAction="GetUserInfoByChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserInfoByChannelRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserInfoByChannelResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <soap12:operation soapAction="ModifyPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyPasswordRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ModifyPasswordResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>