MideFrameWork.UI.WebSite/Service References/HuaXiaSms/sdkwebservice2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sdk.worldsms.cn/webservice/sm/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sdk.worldsms.cn/webservice/sm/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://sdk.worldsms.cn/webservice/sm/service">
      <s:import schemaLocation="http://3g.worldsms.cn/sdkwebservice/sdkwebservice.asmx?schema=schema1" namespace="http://sdk.worldsms.cn/webservice/common/types" />
      <s:import schemaLocation="http://3g.worldsms.cn/sdkwebservice/sdkwebservice.asmx?schema=schema2" namespace="http://sdk.worldsms.cn/webservice/mm/types" />
      <s:import schemaLocation="http://3g.worldsms.cn/sdkwebservice/sdkwebservice.asmx?schema=schema3" namespace="http://sdk.worldsms.cn/webservice/sm/types" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSM_MOSoapIn">
    <wsdl:part xmlns:q1="http://sdk.worldsms.cn/webservice/sm/types" name="parameters" element="q1:GetSM_MO" />
  </wsdl:message>
  <wsdl:message name="GetSM_MOSoapOut">
    <wsdl:part xmlns:q2="http://sdk.worldsms.cn/webservice/sm/types" name="parameters" element="q2:GetSM_MO_Response" />
  </wsdl:message>
  <wsdl:message name="GetSM_MORequestSoapHeader">
    <wsdl:part xmlns:q3="http://sdk.worldsms.cn/webservice/common/types" name="RequestSoapHeader" element="q3:RequestSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSM_MOResponseSoapHeader">
    <wsdl:part xmlns:q4="http://sdk.worldsms.cn/webservice/common/types" name="ResponseSoapHeader" element="q4:ResponseSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part xmlns:q5="http://sdk.worldsms.cn/webservice/sm/types" name="parameters" element="q5:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part xmlns:q6="http://sdk.worldsms.cn/webservice/sm/types" name="parameters" element="q6:SendSMS_Response" />
  </wsdl:message>
  <wsdl:message name="SendSMSRequestSoapHeader">
    <wsdl:part xmlns:q7="http://sdk.worldsms.cn/webservice/common/types" name="RequestSoapHeader" element="q7:RequestSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SendSMSResponseSoapHeader">
    <wsdl:part xmlns:q8="http://sdk.worldsms.cn/webservice/common/types" name="ResponseSoapHeader" element="q8:ResponseSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSM_ReportSoapIn">
    <wsdl:part xmlns:q9="http://sdk.worldsms.cn/webservice/sm/types" name="parameters" element="q9:GetSM_Report" />
  </wsdl:message>
  <wsdl:message name="GetSM_ReportSoapOut">
    <wsdl:part xmlns:q10="http://sdk.worldsms.cn/webservice/sm/types" name="parameters" element="q10:GetSM_Report_Response" />
  </wsdl:message>
  <wsdl:message name="GetSM_ReportRequestSoapHeader">
    <wsdl:part xmlns:q11="http://sdk.worldsms.cn/webservice/common/types" name="RequestSoapHeader" element="q11:RequestSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSM_ReportResponseSoapHeader">
    <wsdl:part xmlns:q12="http://sdk.worldsms.cn/webservice/common/types" name="ResponseSoapHeader" element="q12:ResponseSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="smsService">
    <wsdl:operation name="GetSM_MO">
      <wsdl:input message="tns:GetSM_MOSoapIn" />
      <wsdl:output message="tns:GetSM_MOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSM_Report">
      <wsdl:input message="tns:GetSM_ReportSoapIn" />
      <wsdl:output message="tns:GetSM_ReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="smsService" type="tns:smsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSM_MO">
      <soap:operation soapAction="GetSM_MO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSM_MORequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetSM_MOResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendSMSRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SendSMSResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSM_Report">
      <soap:operation soapAction="GetSM_Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSM_ReportRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetSM_ReportResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smsService1" type="tns:smsService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSM_MO">
      <soap12:operation soapAction="GetSM_MO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSM_MORequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSM_MOResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendSMSRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendSMSResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSM_Report">
      <soap12:operation soapAction="GetSM_Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSM_ReportRequestSoapHeader" part="RequestSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSM_ReportResponseSoapHeader" part="ResponseSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>